<div class="title__container">
    <div (click)="home()" class="title__text">
        REGEX to CSV
    </div>

    <div class="about__container">
        <div>
            This tool matches the content with the given Regex pattern and give all the matches back in table format
            so that you can export the table to CSV for use later.
        </div>
        <div class="about__paragraph">
            If you need any support for any bug fixing, just raise an issue
            <a target="_blank" href="https://github.com/hintdesk/regextocsv">here</a>
        </div>
    </div>
</div>